


#spinner-container {
  width: 400px; /* or the size of your image */
  height: 400px; /* or the size of your image */
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner {
  width: 100%;
  height: auto;
  animation: spin 0s linear infinite; /* Set initial duration to 0 to have it stopped */
}

/* Keyframes for the spinning animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#spinner {
  width: 100%;
  height: auto;
  transition: transform 0s; /* Make sure this is set to 0s initially */
}

